<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <form (ngSubmit)="onSubmitform()" #f= "ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input type="text"
              name="name" 
              id="name"
              class="form-control"
              #IngNameInput
              ngModel
              #name="ngModel"
              required
              >
              <span class="help-block" *ngIf="name.invalid && name.touched">
                Please, insert an ingredient!
              </span>
          <div class="col-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" 
              name="amount" 
              id="amount"
              class="form-control"
              ngModel
              #amount="ngModel"
              #IngAmountInput
              required>
              <span class="help-block" *ngIf="amount.invalid && amount.touched">
                  Please, insert a valid amount!
                </span>
          </div>
        </div>
        <button class="btn btn-success" (click)="onAutoComplete()">Need help? Click me!</button>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <button class="btn btn-success"
          type="submit" 
          [disabled]="!f.valid">
          {{editMode ? "Edit" : "Add"}}
          </button>
          <button class="btn btn-danger" 
          type="button"
          (click)="onDeleteIng()"
          >Delete</button>
          <button class="btn btn-warning" type="button" (click)="onClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>